<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head" ></head>
<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="main-container">
  <h2 th:text="#{friends.title}"></h2>
  <form class="form-inline" action="/friends/list">
    <div class="form-group">
      <input name="searchText" type="text" class="form-control" size="50"
             th:placeholder="#{friends.search}">
    </div>
    <button type="submit" th:text="#{search.message}" class="btn btn-primary"></button>
  </form>
  <p th:text="#{friends.message}"></p>
  <div class="table-responsive">
    <table class="table table-hover" th:fragment="tableFriends" id="tableFriends">
      <thead>
      <tr>
        <th scope="col" th:text="#{name.message}">Nombre</th>
        <th scope="col" th:text="#{surname.message}">Apellidos</th>
        <th scope="col" th:text="#{email.message}">Email</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="friend : ${friendList}">
          <td>
            <a  th:href="${'/post/listFor/' + friend.username}" th:id="${friend.name}"  th:text="${friend.name}"> </a>
          </td>
          <td th:text="${friend.surname}"></td>
          <td th:text="${friend.username}"></td>
        </tr>
      </tbody>
    </table>
    <div th:if="${#lists.isEmpty(friendList)}" th:text="#{nofriends.message}"></div>
  </div>

  <footer th:replace="fragments/pagination"></footer>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>