<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container">
    <h1>Lista de usuarios en la red:</h1>
    <div th:each="user : ${usersList}">
        <p>
            <span th:text="${user.name}"></span>
            <span th:text="${user.surname}"></span>

            <a th:href="${'/mark/details/' + user.id}">details</a>
            <a th:href="${'/mark/delete/' + user.id}">delete</a>
        </p>
    </div>
    <div th:if="${#lists.isEmpty(usersList)}">
        No marks
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>