<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="#"></a>
    <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#myNavbar" data-toggle="collapse" type="button"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item dropdown active" sec:authorize="hasRole('ROLE_USER')">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="accountDropdown" role="button"> Mi Cuenta </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/post/list">Mis publicaciones</a>

                    <a class="dropdown-item" href="/post/add">Publicar</a>

                </div>
            </li>
            <li class="nav-item dropdown active" sec:authorize="hasRole('ROLE_USER')">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="friendsDropdown" role="button"> Amigos </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/friends/list">Listar amigos</a>
                    <!---La opción de listar publis estará en la tabla en la q se muestren los amigos.-->


                </div>
            </li>
            <li class="nav-item dropdown active" sec:authorize="isAuthenticated()">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="userDropdown" role="button"> Usuarios </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/user/list">Listar usuarios</a>
                    <a class="dropdown-item" href="/user/list">Buscar usuarios</a>


                </div>
            </li>
            <li class="nav-item dropdown active" sec:authorize="hasRole('ROLE_USER')">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="friendshipsDropdown" role="button"> Notificaciones </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/friends/invites">Peticiones de amistad</a>

                </div>
            </li>


            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/logs/list" th:text="#{logs.welcome}">
                    <i class='fas fa-user-alt' style='font-size:16px'></i><span> Registrate</span></a>
            </li>



        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage"
                                             role="button" data-toggle="dropdown" aria-haspopup="true"
                                             aria-expanded="false"> <span th:text="#{language.change}"></span> </a>

                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a
                            class="dropdown-item" id="btnEnglish" value="EN"> <img
                            th:src="@{/images/if_uk_flag.png}"
                            style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.en}">Inglés</span> </a> <a class="dropdown-item" id="btnSpanish"
                                                                             value="ES"> <img
                        th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                    <span th:text="#{language.es}">Español</span> </a></div>
            </li>

            </li>
            <!--Las opciones de registro e inicio de sesión solo se muestran si NO se está autenticado-->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signup" th:text="#{signup.message}">
                    <i class='fas fa-user-alt' style='font-size:16px'></i><span> Registrate</span></a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login" th:text="#{login.message}">
                    <i class='fas fa-sign-in-alt' style='font-size:16px'></i> <span>Identifícate</span></a>
            </li>
            <!--En caso de estar identificado , se puede desconectar.-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" id="logout" href="/logout">
                <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
                <span th:text="#{logout.message}">Desconectar</span> </a>
            </li>
        </ul>
        <!--<form class="form-inline"> <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> </form> -->
    </div>
</nav><!-- nav.html -->
